
/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,400,500,600|Open+Sans:100,300,500,600');

$main-font: 'Barlow', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-size-lg: 38px;
$font-size-md: 27px;
$font-size-sm: 19px;
$font-size-xs: 16px;


