.faq-section1 {
  background: #00a4e4;
  padding-top: 18px;
  padding-bottom: 24px;
  margin-bottom: 80px;
  h1 {
    color: $main-color-text;
    font-family: $secondary-font;
    font-size: $font-size-lg;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.76px;
    text-align: center;
  }
}