.faq-section2 {
  max-width: 989px;
  margin: 0 auto 249px auto;

  .accordion-container {
    border: none;

    .article-title {
      text-align: left;
      color: #00a4e4;
      font-weight: 600;
      font-size: 21px;
      font-family: $main-font;
      letter-spacing: -0.42px;
      cursor: pointer;
    }
    .content-entry:hover,
    .content-entry:active,
    .content-entry.open {
      background-color: #f2f2f2;
    }

    .content-entry:hover i:before,
    .content-entry:hover i:active,
    .content-entry.open i {
      background: #f2f2f2;
    }
    .content-entry {
      color: #0079c1;
      padding: 17px;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      overflow: hidden;
    }
    .content-entry:last-of-type {
      border-bottom: 1px solid #ccc;
    }
    i {
      float: right;
      font-size: 30px;
      color: #00a4e4;
    }
    .content-entry i:after {
      content: "+";
    }

    .content-entry.open i:after {
      content: "-";
    }
    .accordion-content {
      display: none;
      padding-top: 16px;
      background-color: #f2f2f2;
      overflow: hidden;
      color: $color-text;
      font: 400 19px/28px $main-font;
      letter-spacing: -0.38px;
    }
  }
}

//
//  .accordion-item h3:after {
//    content: '+';
//    font-size: 30px;
//    color: #00a4e4;
//    float: right;
//    margin-left: 5px;
//  }
//
//  .active:after {
//    content: "-";
//  }
//}

