.home-section-3 {
  background: #488122;
  padding-top: 36px;
  padding-bottom: 54px;

  .section3-content {
    color: $main-color-text;
    max-width: 580px;
    float: left;
    margin-right: 100px;
    h1 {
      font-size: $font-size-lg;
      font-family: $secondary-font;
      letter-spacing: -0.76px;
      font-weight: 100;
      margin-bottom: 47px;
      line-height: 42px;
    }
    p {
      font-family: $main-font;
      font-size: $font-size-sm;
      font-weight: 300;
      letter-spacing: -0.19px;
      line-height: 40px;
    }
  }
  .illustration {
    float: right;
  }
}