.home-section-4 {
  padding-top: 30px;

  .section4-title {
    text-align: center;
    color: $color-text;
    font-family: $secondary-font;
    font-size: $font-size-lg;
    font-weight: 300;
    letter-spacing: -0.76px;
    margin-bottom: 13px;
  }

  .gallery-images {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .slide {
    color: $main-color-text;
    font-family: $main-font;
    font-size: $font-size-sm;
    font-weight: 600;
    position: relative;

    &:hover {
      filter: grayscale(0.9);
    }
    .text-container {
      position: absolute;
      right: 0;
      top: 34px;
      img {
        display: block;
      }
      h2 {
        margin-bottom: 30px;
        letter-spacing: 1.52px;
        text-transform: uppercase;
        text-align: center;
      }
      p {
        letter-spacing: -0.19px;
        text-align: left;
        line-height: 35px;
        font-weight: 500;
        margin-left: 31px;
      }
    }
  }
}
