.home-section-1 {
  overflow: hidden;
  background-size: cover!important;
  min-height: 815px;

  .section1-content {
    max-width: 669px;
    color: $main-color-text;
    margin-right: 89px;
    margin-left: auto;
    margin-top: 37px;
    font-weight: 300;
    text-align: right;
    h1 {
      font-size: $font-size-lg;
      letter-spacing: -0.76px;
      font-family: $secondary-font;
      margin-bottom: 27px;
    }
    p {
      font-size: $font-size-md;
      letter-spacing: -0.27px;
      font-family: $main-font;
      line-height: 40px;
      margin-bottom: 59px;
      margin-left: 100px;
    }
  }
}


