
.home-section-2 {
  background: #294b09;
}

.section2-content {
  font-family: $main-font;
  font-size: $font-size-md;
  font-weight: 500;
  color: #cbe4b3;
  letter-spacing: -0.28px;
  p {
    max-width: 814px;
  }
  span {
    color: $main-color-text;
  }
}


